* {
  font-family: Gotham, sans-serif; 

}

body {
  background-color: #000;
}





#card-body {
  font-size: 0.8em;
  margin-left: 10px;

  p {
    margin: 0;
  }

}

#nav-list li {
  font-size: 0.9em;
}

#nav-list i {
  font-size: 1.2em;
}

.cardw {
  background-color: #000;
}

.sfondo {
  background-image: linear-gradient(to right top, #0f0e0f, #100f10, #111111, #121212, #131313, #181818, #1c1c1c, #212121, #2b2b2b, #353636, #404141, #4b4c4c);
}

.btn-a {
  background-color: #000;
  border: none;
  padding: 0;
}


.card-container {
  margin: 0 -15px;
}

.bg-cards {
  border-radius: 10px;
  background-color: #262626;
  color: white;
  box-shadow: 8px 6px 27px -2px #000000;
}

.bg-cards1 {
  background-color: #565252;
  box-shadow: 8px 6px 27px -2px #000000;
}



@media (min-width: 768px) {
  .bg-md-gray {
    background-color: #565252;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .bg-md-gray{
    background: #000;
  }

  .nav-opacity{
    background-color: rgba(0, 0, 0, 0.8);
  }

}

.search-card-img-container img {
  transform: scale(1.8) rotate(25deg);
}

/* artist page*/
#bannerArtist {
  height: 40vh;
}

#artistRow {
  /* opacity: 0.9; */
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0.732) 100%);
}

.top3Images {
  width: 50px;
  height: 50px;
}

.player {
  width: 100%;
  height: 80px;
  /* Adjust as needed */
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 576px) {
  .player {
    display: contents;
  }
}

.volume-controls {
  width: 20vw;
}

.player-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.player-controls {
  display: flex;
  align-items: center;
}

.volume-controls {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.player-timeline {
  display: flex;
  align-items: center;
}

.timeline-slider {
  margin: 0 10px;
  width: 40vw;
  height: 0.5em;
}

.volume-slider {
  width: 100px;
  height: 4px;
}

.timeline-slider:hover,
.volume-slider:hover {
  background-color: #1bd760;
}

.timeline-slider,
.volume-slider {
  -webkit-appearance: none;
}

.timeline-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border: none;
  border-radius: 100px;
}

.timeline-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1bd760;
  margin-top: -6px;
}

.timeline-slider:focus,
.volume-slider:focus {
  outline: none;
}

.timeline-slider:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.hero-section {
  background: linear-gradient(0deg, rgba(6, 2, 0, 1) 0%, #e9ecef 100%);
}

main {
  background-image: linear-gradient(to top, #000000, #090809, #111010, #161515, #1b1a1a, #171717, #252424, #2a2929, #272727, #232222, #292929, #2b2a2a)
}

.start-button.row-button {
  display: none;
  transition: display 0.3s;
}

#tracklist .row:hover .start-button{
  display: block;
}

#tracklist .row:hover #trackNumber{
  display: none;
}

